<div class="login-bg" id="login">
    <div class="login-wrap">
        <div class="login-cont">
            <ul class="login-layout">
                <li class="name"><input type="text" key="username" name="name" class="name" maxlength="20"></li>
                <li class="mima"><input type="password" key="password" name="password" class="password" maxlength="20"></li>
                <li class="subbtn"><input type="submit" name="sub" id="submitBtn" value=""><a href="#" class="forget">忘记密码？</a> </li>
            </ul>
        </div><!--login-cont-->
    </div>
</div>
